/*------------------------------------*\
  #FONTS
\*------------------------------------*/

/* mukta-mahee-300 - latin */
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 300;
  src: local('Mukta Mahee Light'), local('MuktaMahee-Light'),
       url('../fonts/mukta-mahee-v2-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mukta-mahee-v2-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-regular - latin */
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 400;
  src: local('Mukta Mahee Regular'), local('MuktaMahee-Regular'),
       url('../fonts/mukta-mahee-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mukta-mahee-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-500 - latin */
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 500;
  src: local('Mukta Mahee Medium'), local('MuktaMahee-Medium'),
       url('../fonts/mukta-mahee-v2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mukta-mahee-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-600 - latin */
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 600;
  src: local('Mukta Mahee SemiBold'), local('MuktaMahee-SemiBold'),
       url('../fonts/mukta-mahee-v2-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mukta-mahee-v2-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-700 - latin */
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 700;
  src: local('Mukta Mahee Bold'), local('MuktaMahee-Bold'),
       url('../fonts/mukta-mahee-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mukta-mahee-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-mahee-800 - latin */
@font-face {
  font-family: 'Mukta Mahee';
  font-style: normal;
  font-weight: 800;
  src: local('Mukta Mahee ExtraBold'), local('MuktaMahee-ExtraBold'),
       url('../fonts/mukta-mahee-v2-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/mukta-mahee-v2-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/* Generic: Page --- Global page styles + universal box-sizing: */

html {
  box-sizing              : border-box;
  height                  : 100%;
  color                   : #000;
  overflow-x              : hidden;
  background-color        : #ECEFF1;
  font-family             : "Mukta Mahee", Helvetica, arial, sans-serif;
  font-size               : 16px;
  font-weight             : 400;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  line-height             : 1.5;
}

body {
  height : 100%;
}

*,
*:after,
*:before {
  box-sizing : inherit;
}

*:focus {
  outline-color: orange;
}

/**
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  color       : #FFF;
  background  : #46b6ac;
  text-shadow : none;
}

::selection {
  color       : #FFF;
  background  : #46b6ac;
  text-shadow : none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/* Elements: Images --- Default markup for images to make them responsive */

img {
  max-width      : 100%;
  vertical-align : top;
}

/* Elements: typography --- Default markup for typographic elements */

h1,
h2,
h3 {
  font-weight : 500;
}

h1 {
  margin      : 0;
  font-size   : 36px;
  line-height : 48px;
}

h2 {
  margin      : 0;
  font-size   : 32px;
  line-height : 40px;
}

h3 {
  margin      : 0;
  font-size   : 26px;
  line-height : 32px;
}

h4,
h5,
h6 {
  margin      : 0;
  font-size   : 20px;
  line-height : 24px;
}

address,
dl,
figure,
ol,
p,
table,
ul {
  margin : 0 0 24px;
}

ol,
ul {
  padding-left : 24px;
}

li ol,
li ul {
  margin-bottom : 0;
}

blockquote {
  margin      : 0 0 24px;
  font-size   : 23px;
  font-style  : normal;
  line-height : 32px;
}

blockquote * {
  font-size   : inherit;
  line-height : inherit;
}

figcaption {
  margin-top  : 8px;
  font-size   : 12px;
  font-weight : 400;
  line-height : 16px;
}

hr {
  height     : 1px;
  margin     : 0 0 24px;
  border     : 0;
  background : LightGrey;
}

a {
  color      : #000;
  transition : all .1s ease-in-out;
}

a:active,
a:visited {
  color : #ECEFF1;
}

a:focus,
a:hover {
  color : #ECEFF1;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/**
 * Objects: Row --- Creates a horizontal row that stretches the viewport and
 * adds padding around children
 */

.o-row {
  position : relative;
  padding  : 16px 16px 0;
}

/* color modifiers */

.o-row--primary-x-light {
  background-color : #F2FAFF;
}

.o-row--neutral-xx-dark {
  color      : #fff;
  background : #20223A;
}

/* size modifiers */

.o-row--lg {
  padding-top    : 48px;
  padding-bottom : 24px;
}

.o-row--xl {
  padding-top    : 72px;
  padding-bottom : 48px;
}

@media
  (min-width : 768px) {
  .o-row {
    padding-right : 48px;
    padding-left  : 48px;
  }

  .o-row--md {
    padding-top    : 48px;
    padding-bottom : 24px;
  }

  .o-row--lg {
    padding-top    : 72px;
    padding-bottom : 48px;
  }
}

@media
  (min-width : 992px) {
  .o-row--intro {
    padding-top    : 0;
    padding-bottom : 0;
  }

  .o-row--xl {
    padding-top    : 96px;
    padding-bottom : 72px;
  }
}

/**
 * Objects: Container --- Creates a horizontal container that sets the global
 * max-width
 */

o-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 79.5em; /* 79.5 * 16px = 1272 */
}
@media (min-width: 992px) {
  .o-container--md {
    max-width    : 672px;
    margin-right: auto;
    margin-left: auto;
  }
}

/**
 * Objects: section --- Creates vertical whitespace between adjacent sections
 */

.o-section {
  position : relative;
}

.o-section--md,
.o-section--lg,
.o-section--xl {
  padding-top : 32px;
}

@media
  (min-width : 768px) {
  .o-section--lg,
  .o-section--xl {
    padding-top : 48px;
  }
}

@media
  (min-width : 992px) {
   .o-section--xl {
    padding-top : 72px;
  }
}

/**
 * Objects: Layout --- The layout object provides us with a column-style layout
 * system. This object contains the basic structural elements, but classes
 * should be complemented with width utilities
 */

.o-layout {
  display   : -webkit-flex;
  display   : -ms-flexbox;
  display   : flex;
  flex-wrap : wrap;
}

.o-layout__item {
  width : 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
  margin : 0 -16px;
}

.o-layout--gutter > .o-layout__item {
  padding : 0 16px;
}

.o-layout--gutter-sm {
  margin : 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding : 0 6px;
}

.o-layout--gutter-lg {
  margin : 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding : 0 24px;
}

.o-layout--gutter-xl {
  margin : 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
  padding : 0 48px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction : row-reverse;
}

/* Horizontal alignment modifiers */

.o-layout--justify-start {
  justify-content : flex-start;
}

.o-layout--justify-end {
  justify-content : flex-end;
}

.o-layout--justify-center {
  justify-content : center;
}

.o-layout--justify-space-around {
  justify-content : space-around;
}

.o-layout--justify-space-evenly {
  justify-content : space-evenly;
}

.o-layout--justify-space-between {
  justify-content : space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items : flex-start;
}

.o-layout--align-end {
  align-items : flex-end;
}

.o-layout--align-center {
  align-items : center;
}

.o-layout--align-baseline {
  align-items : baseline;
}

/**
 * Vertical alignment modifiers that only work if there is more than one flex
 * item
 */

.o-layout--align-content-start {
  align-content : start;
}

.o-layout--align-content-end {
  align-content : end;
}

.o-layout--align-content-center {
  align-content : center;
}

.o-layout--align-content-space-around {
  align-content : space-around;
}

.o-layout--align-content-space-between {
  align-content : space-between;
}

.o-layout--align-content-space-evenly {
  align-content : space-evenly;
}

/**
 * Objects: List --- Small reusable object to remove default list styling from
 * lists
 */

.o-list {
  padding    : 0;
  list-style : none;
}

/* Object: Button reset --- Small button reset object */

.o-button-reset {
  -webkit-appearance      : none;
  width                   : auto;
  margin                  : 0;
  padding                 : 0;
  color                   : inherit;
  overflow                : visible;
  border                  : none;
  background              : transparent;
  font                    : inherit;
  -webkit-font-smoothing  : inherit;
  -moz-osx-font-smoothing : inherit;
  line-height             : normal;
  cursor: pointer;
  /* inherit font & color from ancestor */
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  /* Corrects font smoothing for webkit */
  /* Corrects inability to style clickable `input` types in iOS */
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/


/* Component: switch --- simple on-of switch svg*/

.c-switch {
  display         : -webkit-flex;
  display         : -ms-flexbox;
  display         : flex;
  width           : 48px;
  height          : 24px;
  align-items     : center;
  justify-content : center;

  -webkit-transition : all 3s ease;
  transition         : all 3s ease;
}

.c-switch__svg {
  height: 100%;
  width: 100%;
}

.c-switch__background {
  fill:#bcbec0;
}

.c-switch__circle {
  fill:#fff;
  -ms-transform      : translateX(0);
  -webkit-transform  : translateX(0);
  transform          : translateX(0);
  -webkit-transition : all 0.53s ease;
  transition         : all 0.53s ease;
}

.on .c-switch__background {
  fill: #47b6ac;
}

.on .c-switch__circle {
  -ms-transform      : translateX(50%);
  -webkit-transform  : translateX(50%);
  transform          : translateX(50%);
}

/* Component: session button --- big button to start and stop the session */

.c-session-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
  line-height: 36px;
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 30px;
  color: #FFF;
}

.c-session-button--off {
  background-color: #46B6AC;
}

.c-session-button--on {
  background-color: red;
}

.c-session-button__icon {
  width: 80px;
  height: 80px;
  fill: #FFF;
  margin-right: 16px;
}

/* Component: light button --- big circular button to control the lights */

.c-light-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* border: 1px solid #478C86; */
}

.c-light-button--off {
  background-color: #46B6AC;
}

.c-light-button--on {
  background-color: red;
}

.c-light-button--svg {
  height: 70%;
  width: 70%;
  fill: rgba(255,255,255,0.95);
}

/* Component: kiosk page ---center layout */

.c-kiosk-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.c-kiosk-page__button {
  height: 40%;
  width: 100%;
  margin: 0;
}

.c-kiosk-page__list {
  max-height: 90%;
  width: 80%;
  margin: 0;
}

.c-kiosk-page__form {
  width: 80%;
  margin: auto;
}

.c-kiosk-page__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 10px;
  border-bottom: 1px solid #EDEDED;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #46B6AC;
}

.c-kiosk-page__link {
  text-decoration: none;
}

.c-kiosk-page__item {
  margin: 0;
  color: white;
  font-size: 24px;
}

.c-kiosk-page__icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0;
}

.c-kiosk-page__icon--svg {
  width: 100%;
  height: 100%;
  fill: #FFF;
}

.c-alert {
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  width: 90vw;
  max-width: 500px;
  padding: 15px 20px;
}

.c-alert--error {
  color: #A94442;
  border: 1px solid #A94442;
  background-color: #ffdede;
}

.c-alert--success {
  color: #3c763d;
  border: 1px solid #3c763d;
  background-color: #dff0d8;
}


.c-log {
  display         : -webkit-flex;
  display         : -ms-flexbox;
  display         : flex;
  width           : 30px;
  height          : 30px;
  align-items     : center;
  justify-content : center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.c-log--svg {
  fill: #000;
  height: 100%;
  width: 100%;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/**
 * Utilities: spacing --- Utility classes to put specific margins and paddings
 * onto elements
 */

.u-pt-clear {
  padding-top : 0 !important;
}

.u-mb-clear {
  margin-bottom : 0 !important;
}

.u-mb-xs {
  margin-bottom : 4px !important;
}

.u-mb-sm {
  margin-bottom : 8px !important;
}

.u-mb-md {
  margin-bottom : 16px !important;
}

.u-mb-lg {
  margin-bottom : 32px !important;
}

.u-mb-xl {
  margin-bottom : 48px !important;
}

/* Utilities: color --- Utility classes to put specific colors onto elements */

.u-color-light {
  color : #FFF;
}

.u-background-color-dark {
  background-color : #000;
}

.u-fixed {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 10px;
}

.u-circle-background {
  border-radius: 50%;
  border: 1px solid #47b6ac;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-background-color-neutral {
  background-color: #46B6AC;
}

.u-slide-up {
  -ms-transform      : translateY(-200%);
  -webkit-transform  : translateY(-200%);
  transform          : translateY(-200%);
  -webkit-transition : -webkit-transform 1s ease;
  transition         : transform 1s ease;
}